[MASTER]
load-plugins=pylint_django
django-settings-module=portfolio_legacy_davi_oliveira.settings
ignore=migrations,venv,staticfiles,media,__pycache__
ignore-patterns=test_.*?\.py,conftest\.py

[MESSAGE CONTROL]
disable=
    C0103,
    C0114,
    C0115,
    C0116,
    R0903,
    W0212,
    E1101

[FORMAT]
max-line-length=120
indent-string='    '

[BASIC]
good-names=i,j,k,ex,Run,_,id,pk

[DESIGN]
max-args=7
max-attributes=10
